.card {
    position: relative;
    width: 23%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid gold;
    padding: 25px 10px 0;
    margin: 10px;
}

.card_id {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(0, 0, 0, 0.2);
    z-index: 0; opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover .card_id {
    opacity: 1;
    cursor: pointer;
}

.card_owner {
    margin: 15px 0;
    text-align: center;
    position: relative;
}

.card_owner h2 {
    margin: 5px 0;
}

.card_owner span {
    font-style: italic;
}

#cardShowBtn {
    position: absolute;
    right: 35px;
    top: -1px;
    background-color: #77c5c5;
    color: #fff;

}

#cardDeleteBtn {
    position: absolute;
    right: -1px;
    top: -1px;
    background-color: #dc3545;
    color: #fff;

}

.card button {
    display: inline-block;
    background-color: #ffd900;
    padding: 5px 10px;
    transition: .2s linear;
}

.card button:hover {
    background-color: transparent;
}